*{
    margin: 0;
    padding: 20px;
    display: flexbox;
    justify-content: center;
    text-align: center;
}
.logo{
    font: 500px;
    text-align: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login{
    width: 50%;
    height: 50%;
    display: grid;
    justify-content: center;
    background-color: aqua;
    border-radius: 10px;
}
.input-login{
    border-radius: 5px;
    border: 0cap;
}
.input-password{
    border-radius: 5px;
    border: 0cap;
}
.buton-login{
    border-radius: 5px;
}

.reg{
    text-decoration: none;
    font-weight: bold;
}