*{
    margin: 0;
    padding: 20px;
    display: flexbox;
    justify-content: center;
    position: relative;
    border: 20px;
}
.logo{
    font: 500px;
    text-align: center;
}
.register{
    display: grid;
    justify-content: center;
    background-color: aqua;
    border-radius: 10px;
}
.name{
    border-radius: 5px;
    border: 0cap;
}
.username{
    border-radius: 5px;
    border: 0cap;
}
.password{
    border-radius: 5px;
    border: 0cap;
}
.role{
    border-radius: 5px;
    border: 0cap;
}

.buton-register{
    border-radius: 5px;
}